@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: #6e80ff;
    --secondary: #632a64;
    --light-purple: #f0f2ff;
    --background: #e4e4e4;
    --background-secondary: #f0f2ff;
    --foreground: #636363;
    --foreground-strong: #000;
    --card: #fff;
    --card-foreground: #636363;
    --popover: #ffffff;
    --popover-foreground: #030712;
    --primary-foreground: #fafafa;
    --secondary-foreground: #18181b;
    --muted: #f3f4f6;
    --muted-foreground: #6b7280;
    --accent: #f3f4f6;
    --accent-foreground: #ff12fb;
    --positive: #31c095;
    --positive-foreground: #fff;
    --destructive: #ef4444;
    --destructive-foreground: #f9fafb;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #7c3aed;
    --radius: 0.5rem;
    --chart-1: #e76e50;
    --chart-2: #2a9d90;
    --chart-3: #274754;
    --chart-4: #e8c468;
    --chart-5: #f4a462;
  }

  .dark {
    --primary: #6e80ff;
    --secondary: #632a64;
    --background: #09090b;
    --background-secondary: #030712;
    --foreground: #eaeaea;
    --foreground-strong: #fff;
    --card: #030712;
    --card-foreground: #fff;
    --popover: #030712;
    --popover-foreground: #f9fafb;
    --muted: #1f2937;
    --muted-foreground: #9ca3af;
    --accent: #1f2937;
    --accent-foreground: #aa10a8;
    --positive: #288368;
    --positive-foreground: #fff;
    --destructive: #ff9393;
    --destructive-foreground: #f9fafb;
    --border: #1f2937;
    --input: #1f2937;
    --ring: #6d28d9;
    --chart-1: #2662d9;
    --chart-2: #2eb88a;
    --chart-3: #e88c30;
    --chart-4: #af57db;
    --chart-5: #e23670;
  }
}

@layer base {
  * {
    @apply border-border m-0 p-0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
  }

  html,
  body {
    min-height: 100vh;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  h4 {
    @apply text-base font-bold;
  }

  h5 {
    @apply text-sm font-bold;
  }

  h6 {
    @apply text-xs font-bold;
  }

  .font-secondary {
    font-family: "Old Standard TT", serif;
  }

  .main-container {
    @apply flex-auto p-2 sm:p-4 2xl:p-6;
  }

  .section {
    @apply bg-card rounded-lg shadow w-full dark:border;
  }

  .btn-instagram {
    background: linear-gradient(
      45deg,
      #405de6,
      #5851db,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d,
      #f56040,
      #f77737,
      #fcaf45,
      #ffde59
    );
    @apply text-white;
  }

  .btn-facebook {
    background-color: #3b5998;
    @apply text-white;
  }

  .btn-whatsapp {
    background-color: #20b155;
    @apply text-white;
  }

  .btn-gmail {
    @apply bg-white;
    color: #d93025;
  }
}
