.html-editor {
  .ql-editor {
    @apply text-base min-h-40;

    h1 {
      @apply text-4xl font-normal;
    }

    h2 {
      @apply text-3xl font-normal;
    }

    h3 {
      @apply text-2xl font-normal;
    }

    h4 {
      @apply text-xl font-normal;
    }

    h5 {
      @apply text-lg font-normal;
    }

    h6 {
      @apply text-sm font-normal;
    }
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }

  .ql-tooltip.ql-editing {
    input {
      background-color: white;
    }
  }
}

